body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

header .list {
    background-color: black;
    display: inline-block;
}

header nav {
    background-color: black;
    display: inline-block
}

header nav ul li {
    display: inline-block;
}

hr {
    background-color: red;
    padding: 2px;
    border: 0;
}